.App {
  text-align: center;
}
.Person {
  display: inline-block;
  margin: 15px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.PersonFullWidth {
  display: inline-block;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.another {
  color: red;
}
